﻿@page "/Customers"

@inject IClientGetter clientGetter
@inject IClientChandger clientChanger
@inject DbBackEndRepository repository




@foreach (var client in clients)
{
    <ClientView Client="client"></ClientView>

}


<div>
    <button @onclick="ShowAddClientPopup">Add Customer </button>
</div>

<AddClientPopUp @ref="clientPopUp" AddClient="AddClient"  OnCancel="CancelAddClientPopUp"></AddClientPopUp>

@code {


    AddRepresentativePopUp representativePopUp;

    List<Client> clients;

    Client clientForWhichTheRepresentativeShouldBeAdded;

    AddClientPopUp clientPopUp;

    

    private void ShowAddClientPopup()
    {
        clientPopUp.Show();
        Rerender();
    }

    private void CancelAddClientPopUp()
    {
        clientPopUp.Hide();
        Rerender();
    }

    private void Rerender()
    {
        InvokeAsync(() => StateHasChanged());
    }

    private void AddClient(Client client)
    {
        clientChanger.AddClient(client);
        clientPopUp.Hide();
        Rerender();
    }


    protected override void OnInitialized()
    {
        clients = clientGetter.GetAllClients();
        repository.Clients.TableHasBeenChanged += Rerender;
    }


}
