﻿@page "/OrdersPage"
@inject IOrdersGetter ordersGetter


<h2 >Select Data Range</h2>
<div class="row">

    <DateRangePicker style="margin-top: 40px; margin-left:20px; margin-bottom:30px;" OnRangeSelect="OnRangeSelect" TimePicker="true"></DateRangePicker>
    <img src="/images/calendar.png" width="30" height="30" style="margin-top: 40px; " />
</div>



@if (orders != null)
{
    @foreach (var order in orders)
    {
        <OrderView Order="order"></OrderView>
    }
}







@code {



    List<Order> orders;

    void OnRangeSelect(DateRange range)
    {
        if (range != null)
        {
            orders = ordersGetter.GetOrdersByDateRange(range);
        }
        else
        {
            orders = null;
        }
    }



    protected override void OnInitialized()
    {

    }


}
