﻿@page "/WarehouseGrid"
@inject DbBackEndRepository repository
@inject IWarehouseGetter warehouseGetter
@inject ISectionsGetter sectionsGetter
@inject ICellsGetter cellsGetter
@inject IDockGetter dockGetter




<div>

    <div class="row">

        <div class="col">
            <h1> Warehouse </h1>
            <div>
                <EditForm Model="@warehouses">
                    <InputSelect Id="WarehouseList" class="form-group" ValueChanged="((int value) =>ChangeWarehouseId(value))" ValueExpression="@(() => CurrentWarehouseId)" Value="@CurrentWarehouseId">


                        <option value=0>None</option>


                        @foreach (var warehouse in warehouses)
                        {
                            <option value="@warehouse.Id">@warehouse.Name</option>
                        }
                    </InputSelect>
                </EditForm>

            </div>
        </div>

        @if (CurrentWarehouseId > 0)
        {
            
            @if (sections != null)
            {
    <div class="col" style="margin-top: 1px;">
        <h1>Section</h1>
        <EditForm Model="@sections">
            <InputSelect Id="SectionsList" class="form-group" ValueChanged="((int value) =>ChangeSectionId(value))" ValueExpression="@(() => CurrentSectionId)" Value="@CurrentSectionId">
                @foreach (var sectiona in sections)
                {

                    <option value="@sectiona.Id">@sectiona.Name</option>

                }
            </InputSelect>
        </EditForm>


    </div>
            }
        }
    </div>

    <div class="col">

        @if (docks != null)
        {
            <DocksView @ref="docksView" Docks="docks"></DocksView>
        }

    </div>

</div>


@code {

    IEnumerable<Warehouse> warehouses;

    IEnumerable<Section> sections;

    IEnumerable<Cell> cells;

    IEnumerable<Dock> docks;



    int CurrentWarehouseId { get; set; }

    int CurrentSectionId { get; set; }

    DocksView docksView;




    void ChangeWarehouseId(int WarehouseId)
    {
        CurrentWarehouseId = WarehouseId;

        if (WarehouseId < 1)
        {
            sections = null;
            docks = null;
        }
        else
        {
            sections = sectionsGetter.GetSectionsByWarehouseId(WarehouseId);
            docks = dockGetter.GetWarehouseDocks(WarehouseId);

        }
    }

    void ChangeSectionId(int sectionId)
    {
        CurrentSectionId = sectionId;
        CellsInit();
    }


    private void CellsInit()
    {
        cells = cellsGetter.GetCellsBySectionId(CurrentSectionId);
    }


    private void DockIschanged()
    {
        docks = dockGetter.GetWarehouseDocks(CurrentWarehouseId);
        ChangeIsChange();
    }



    private void ChangeIsChange()
    {
        InvokeAsync(() => StateHasChanged());
    }

    protected override void OnInitialized()
    {
        warehouses = warehouseGetter.GetWarehouses();
        repository.Docks.TableHasBeenChanged += DockIschanged;                     
    }


}
