﻿@if (dispalyConfirmation)
{

    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModal" aria-hidden="true" style="display: block">

        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Add New Customer</h5>
                    <button @onclick="OnCancel" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body row">
                  
                    <div class=" container">

                        <div>
                            <div>
                                <p>CompanyName</p>
                                <input @bind="companyName" maxlength="50" />
                            </div>

                            <p>Tax ID</p>
                            <input @bind="taxId" maxlength="50" />

                            <p>Address</p>
                            <input @bind="address" maxlength="50" />

                            <FileInputForm></FileInputForm>

                            <button @onclick="(()=>AddClient.InvokeAsync(new Client() { Name = companyName, PhysicalAddress = address, TaxId = taxId, UpdateDateTime = DateTime.Now,   }))">Add</button>
                        </div>
                    </div>


                </div>
                <div class="modal-footer ">



                </div>

            </div>

        </div>

    </div>
}




@code {

    [Parameter] public EventCallback<Client> AddClient { get; set; }

    [Parameter] public EventCallback OnCancel { get; set; }

    bool dispalyConfirmation = false;

    string companyName;

    string taxId;

    string address;




    public void Show() => dispalyConfirmation = true;

    public void Hide() => dispalyConfirmation = false;






}
