﻿@if (dispalyConfirmation)
{

    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModal" aria-hidden="true" style="display: block">

        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Add New Representative</h5>
                    <button @onclick="OnCancel" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body row">
                    @Content

                    <p>Name</p>
                    <input @bind="representativeName"  maxlength="50" />

                    <p>Email</p>
                    <input @bind="email" maxlength="50" />

                    <p>Phone</p>
                    <input @bind="phone" maxlength="50" />

                    <button @onclick="(()=>AddRepresentative.InvokeAsync(new CustomerRepresentative() {ClientId = Client.Id, Email = email,Phone = phone,Client = Client }))">Add</button>


                </div>
                <div class="modal-footer ">



                </div>

            </div>

        </div>

    </div>
}

  

       

        
       

       

@code {
    bool dispalyConfirmation = false;

    [Parameter] public Client Client { get; set; }

    [Parameter] public RenderFragment Content { get; set; }

    [Parameter] public EventCallback OnCancel { get; set; }

    [Parameter] public EventCallback<CustomerRepresentative> AddRepresentative { get; set; }

    private string email;

    private string phone;

    private string representativeName;




    public void Show() => dispalyConfirmation = true;


    public void Hide() => dispalyConfirmation = false;

}
