﻿<div>
    <span class="border border-dark">
        <button style="background-color:@CellColor">@Cell.Row . @Cell.CellsColumn</button>
    </span>
</div>

@code {

    [Parameter] public Cell Cell { get; set; }
    [Parameter] public EventCallback<Cell> SelectCell { get; set; }
    [Parameter] public string CellColor { get; set; }

}
