﻿@inject IDockConditionEnumGetter conditionEnum

@if (dispalyConfirmation)
{

    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModal" aria-hidden="true" style="display: block">

        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">@Title </h5>
                    <button @onclick="OnCancel" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body row">
                    @Content
                    @foreach (var condition in conditionsEnum)
                    {
                        <div style="padding: 10px" class="col-md-8 offset-md-2" >
                            @*<button @onclick="(()=>SetTheState.InvokeAsync(new DockAndCondition(Dock.Id, condition)))"  type="button" class="btn" style="background:@conditionColor.GetColorCondition(condition);">@condition</button>*@
                        </div>
                    }
                </div>
                <div class="modal-footer ">              

                </div>

            </div>

        </div>

    </div>
}

@code {

    bool dispalyConfirmation = false;

    [Parameter] public Dock Dock { get; set; }

    [Parameter] public string Title { get; set; }

    [Parameter] public RenderFragment Content { get; set; }

    [Parameter] public EventCallback<DockAndCondition> SetTheState { get; set; }

    [Parameter] public EventCallback OnCancel { get; set; }

    List<string> conditionsEnum;

    public void Show() => dispalyConfirmation = true;

    public void Hide() => dispalyConfirmation = false;

    DockConditionColor conditionColor;


    protected override void OnInitialized()
    {
        conditionsEnum = conditionEnum.GetAllConditionsEnum();
        conditionColor = new DockConditionColor();
    }
}