﻿

    <div class="row" style="background-color: lightgrey;  margin: 10px; border-radius: 10px;">

        

            <div class="col">

                <div style="margin: 10px; ">

                    <img class="img-rounded"  src="@Client.Logo" style="width:70px;height:70px;" />

                </div>
                <div style="margin: 5px; ">

                    <button>Update Logo</button>

                </div>
            </div>

            <div class="col">
                <div style="margin: 10px; ">

                    <p style="font-size: small;">Company Name</p>

                </div>

                <div style="margin: 10px; ">

                    <h5>@Client.Name</h5>

                </div>
            </div>

            <div class="col" style="margin: 10px;">
                <div style="font-size: small;">
                    <p>Phone Numbers</p>
                </div>

                @foreach (var customerrep in Client.CustomerRepresentatives)
                {
                    <CustomerRepresentativeContactView CustomerRepresentative="customerrep" WhatView="ContactsEnum.phone"></CustomerRepresentativeContactView>
                }
                <div class="col"  style="margin-left:-15px;">
                    <button class="btn-sm">Add</button>
                </div>

            </div>

            <div class="col" style="margin: 10px;">

                <div style="font-size: small;">
                    <p>Emails</p>
                </div>

                @foreach (var customerrep in Client.CustomerRepresentatives)
                {
                     <CustomerRepresentativeContactView CustomerRepresentative="customerrep" WhatView="ContactsEnum.email"></CustomerRepresentativeContactView>
                }
                <div class="col" style="margin-left:-15px;">
                    <button class="btn-sm">Add</button>
                </div>

            </div>

            <div class="col" style="margin: 10px;">
                <div style="font-size: small;">
                    <p>Tax Id</p>
                    <p>@Client.TaxId</p>
                </div>
            </div>

            <div class="col" style="margin: 10px;">
                <div style="font-size: small;">
                    <p>Address</p>
                    <p>@Client.PhysicalAddress</p>
                </div>
            </div>

            <div class="col" style="margin: 10px;">
                <p>Discont</p>
                <input size="3"/>
            </div>
        
        

    </div>






@code {

    [Parameter] public Client Client { get; set; }

    [Parameter] public EventCallback<CustomerRepresentative> DeleteRepresentative { get; set; }

    [Parameter] public EventCallback<Client> AddRepresentative { get; set; }

    PopUpAddCustomersPhone popUpAddCustomersPhone;


    AddRepresentativePopUp representativePopUp;


    Client clientForWhichTheRepresentativeShouldBeAdded;



}
