﻿
<div class="row">

    <div class="col">
        <button class="btn-sm">&minus;</button>
    </div>
    <div class="col">
        <p style="font-size:small;margin-left:-50px; margin-bottom: 0;"> @CustomerRepresentative.RepName</p>
        <p style="font-size:small; margin-left:-50px;">@if(WhatView == ContactsEnum.phone && CustomerRepresentative.Phone!=null) {@CustomerRepresentative.Phone}
        @if (WhatView == ContactsEnum.email && CustomerRepresentative.Email!=null) {@CustomerRepresentative.Email }</p>
    </div>

</div>




@code {

    [Parameter] public CustomerRepresentative CustomerRepresentative { get; set; }

    [Parameter] public ContactsEnum WhatView { get; set; }


}
