﻿


<div>
    <button class="btn  btn-lg"  @onclick="(()=>SelectDock.InvokeAsync(Dock))" style="background:@dockColor.GetColorCondition(Dock.Condition); margin:20px; width: 150px;  ">
    
   @if (Dock.Trailer == null)
   {
       @Dock.DockNumber
   }
   else
   { 
      @Dock.Trailer.UniqNumnber
   }

    </button>
</div>



@code {


    [Parameter] public Dock Dock { get; set; }

    [Parameter] public EventCallback<Dock> SelectDock { get; set; }



    DockConditionColor dockColor;



    protected override void OnInitialized()
    {
        dockColor = new DockConditionColor();
    }

}

