﻿@inject IDockChanger dockChanger



@if (Docks != null)
{
    <div class="column">


        @foreach (var dock in Docks)
        {
            <DockView Dock="dock" SelectDock="SelectDock"></DockView>
        }
    </div>
}


   
<NewChangeDockConditionPopUp Title="Select the dock status" @ref="changeDockConditionPopUp"  SetTheState="ChangeDockCondition" OnCancel="CancelPopUp" Dock="dockStateThatNeedsToBeChanged"></NewChangeDockConditionPopUp>


@code {

    [Parameter] public IEnumerable<Dock> Docks { get; set; }


    NewChangeDockConditionPopUp changeDockConditionPopUp;   


    private Dock dockStateThatNeedsToBeChanged { get; set; }


    void ChangeDockCondition(DockAndCondition dockAndCondition)
    {
        dockChanger.ChangeDockCondition(dockAndCondition.DockId, dockAndCondition.DockCondition, dockAndCondition.TrailerId);

        changeDockConditionPopUp.Hide();
    }


    void SelectDock(Dock dock)
    {
        dockStateThatNeedsToBeChanged = dock;
        changeDockConditionPopUp.Show();
    }

    void CancelPopUp()
    {
        dockStateThatNeedsToBeChanged = null;
        changeDockConditionPopUp.Hide();
        changeDockConditionPopUp.ResetState();
    }


}
