﻿

<container>
    @*@for(int row = 1; row < Cells.Max(cell => cell.Row); row++) 
    {
    <div class="row">
        @for(int col=1; col < C )
        {

        }

    </div>
    }*@
</container>




@code {

    [Parameter] public List<Cell> Cells { get; set; }


    protected override void OnInitialized()
    {
        Cells.OrderBy(cell => cell.Row).ThenBy(cell => cell.CellsColumn).ThenBy(cell => cell.Stack);
    }


}
