﻿@inject ITrailerGetter trailerGetter

@if (dispalyConfirmation)
{

    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModal" aria-hidden="true" style="display: block">

        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">@Title </h5>
                    <button @onclick="OnCancel" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body row">
                    @Content
                    <div style="padding: 10px" class="col-md-8 offset-md-2">
                        <button @onclick="(() =>SelectState(DockConditions.BusyWithABrokenTrailer.ToString()))" type="button" class="btn" style=" background: red;">Busy with a broken trailer</button>
                    </div>

                    <div style="padding: 10px" class="col-md-8 offset-md-2">
                        <button @onclick="(()=>SelectState(DockConditions.BusyWithALoadedTrailer.ToString()))" type="button" class="btn" style="background: yellow;">Busy with a loaded trailer</button>
                    </div>

                    <div style="padding: 10px" class="col-md-8 offset-md-2">
                        <button @onclick="(()=>SelectState(DockConditions.BusyWithAnEmptyTrailer.ToString()))" type="button" class="btn" style="background: blue;">Busy with an empty trailer</button>
                    </div>

                    <div style="padding: 10px" class="col-md-8 offset-md-2">
                        <button @onclick="(()=>SetTheState.InvokeAsync(new DockAndCondition(Dock.Id,conditions[3],0)))" type="button" class="btn" style=" background: green;">Free</button>
                    </div>

                </div>
                <div class="modal-footer ">

                    @if (isTrailerDropListShow)
                    {
                        <h5>Select Trailer</h5>
                        <div>
                            <EditForm Model="@trailers">
                                <InputSelect Id="WarehouseList" class="form-group" ValueChanged="((int value) =>ChangeTrailerID(value))" ValueExpression="@(() => currentTrailerId)" Value="@currentTrailerId">

                                    <option value=0>None</option>

                                    @foreach (var trailer in trailers)
                                    {
                                        <option value="@trailer.Id">@trailer.UniqNumnber</option>
                                    }
                                </InputSelect>
                            </EditForm>

                            @if (currentTrailerId > 0)
                            {
                                <button @onclick="()=>SetTheState.InvokeAsync(new DockAndCondition(Dock.Id,selectedState,currentTrailerId))">Set State</button>
                            }
                        </div>
                    }

                </div>

            </div>

        </div>

    </div>
}






@code {



    private bool isTrailerDropListShow = false;

    private int currentTrailerId = 0;

    public string selectedState;

    private void SelectState(string state)
    {
        selectedState = state;

        InitTrailerList();

        isTrailerDropListShow = true;

        InvokeAsync(() => StateHasChanged());
    }

    public void ResetState()
    {
        currentTrailerId = 0;
        isTrailerDropListShow = false;
        selectedState = string.Empty;
    }



    private readonly List<string> conditions = new List<string>() { "BusyWithABrokenTrailer", "BusyWithALoadedTrailer", "BusyWithAnEmptyTrailer", "Free" };

    bool dispalyConfirmation = false;

    [Parameter] public Dock Dock { get; set; }

    [Parameter] public string Title { get; set; }

    [Parameter] public RenderFragment Content { get; set; }

    [Parameter] public EventCallback<DockAndCondition> SetTheState { get; set; }

    [Parameter] public EventCallback OnCancel { get; set; }




    public void Show() => dispalyConfirmation = true;

    public void Hide() => dispalyConfirmation = false;



    private List<Trailer> trailers;


    private void InitTrailerList()
    {
        trailers = trailerGetter.GetListOfTrailersNotInTheDock();
    }

    void ChangeTrailerID(int trailerId)
    {
        currentTrailerId = trailerId;
    }


}