﻿<div class="row" style="background-color:lightgrey; border-radius: 10px; margin-bottom:20px;">

    <div class="col-2">
        <div style="margin: 20px;">
            <img class="img-rounded" src="@Order.Client.Logo" style="width:70px;height:70px; border-radius: 10px;" />
        </div>

        <div style="margin-top: 20px; margin-left:20px; margin-bottom:20px;">
            @Order.Client.Name
        </div>
    </div>




    <div class="col">

        <div style="margin-top:20px; margin-bottom: 30px;margin-left: 20px; ">
            <h5>Creating Date</h5>
        </div>

        <div class="col" style="margin-top: 20px; ">
            @Order.CreateDateTime
        </div>
    </div>
</div>



@code {
    [Parameter] public Order Order { get; set; }
}
