﻿<h3>PopUpAddCustomersPhone</h3>

@if (dispalyConfirmation)
{

    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModal" aria-hidden="true" style="display: block">

        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Add Phone </h5>
                    <button @onclick="OnCancel" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body row">

                    <div class="input-group">                        
                        <div>
                            <input @bind="phone" />
                        </div>
                    </div>

                    <div >
                        <button onclick="(()=>AddPhone.InvokeAsync(phone)")>Add</button>
                    </div>

                </div>
                <div class="modal-footer ">


                </div>

            </div>

        </div>

    </div>
}



@code {
    
    [Parameter] public EventCallback AddPhone { get; set; }

    [Parameter] public EventCallback OnCancel { get; set; }

    

    string phone;
    
    public void Show() => dispalyConfirmation = true;

    public void Hide() => dispalyConfirmation = false;

    private bool dispalyConfirmation = false;

}
