﻿<div class="tooltip">
    <span id="spanText">@Text</span>
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public string Text { get; set; }
}
